<!-- -*- coding: utf-8 -*- -->
<div class="container">
  <input type="datetime-local" ng-model="from">
  <input type="datetime-local" ng-model="to">
  <button ng-click="tableParams.reload()" class="btn btn-default">Update</button>
  <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
  <br /><br />

  <div loading-container="tableParams.settings().$loading">

    <table ng-table="tableParams" class="table">
      <tr ng-repeat="entry in $data">
        <td data-title="'Id'" sortable="'id'">
          {{entry.id}}
        </td>
        <td data-title="'Date'" sortable="'stamp'">
          {{entry.stamp | dateFormatDetail}}
        </td>
        <td data-title="'Duration'" sortable="'ms'">
          {{entry.ms | timeFormat}}
        </td>
      </tr>
    </table>
  </div>
</div>
