<div class="container">
  <table width="100%">
    <tr>
      <td ng-repeat="(id, val) in toilets">
        <a href="#/occupy/{{val.id}}">
          <img ng-src="img/occupied_{{val.locked}}.png" />
          <div ng-repeat="tid in val.last_ms track by $index">
            {{ val.last_stamp[$index] | dateFormat}} - {{ tid | timeFormat }}<br />
          </div>
        </a>
      </td>
    </tr>
  </table><br />
  <table width="100%">
    <tr>
      <td ng-repeat="(id, val) in showers">
        <a href="#/occupy/{{val.id}}">
          <img ng-src="img/occupied_{{val.locked}}.png" />
          <div ng-repeat="tid in val.last_ms track by $index">
            {{ val.last_stamp[$index] | dateFormat }} - {{ tid | timeFormat }}<br />
          </div>
        </a>
      </td>
    </tr>
  </table>
</div>